autopep8
Babel
certifi
cffi
chardet
cryptography
decouple
defusedxml
django
django-allauth
django-countries
django-crispy-forms
django-model-utils
django-notifications-hq
django-phone-field
django-phonenumber-field
django-webpush
djangorestframework
http-ece
idna
jsonfield
new-package
oauthlib
pep8
Pillow
py-vapid
pycodestyle
pycparser
python-decouple
python3-openid
pytz
pywebpush
requests
requests-oauthlib
six
sqlparse
stripe
swapper
urllib3
dj-database-url
django-auto-prefetch
django-debug-toolbar
django-storages
dropbox
psycopg2-binary
psycopg2
whitenoise
gunicorn