autopep8==1.4.4
Babel==2.8.0
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decouple==0.0.7
defusedxml==0.6.0
Django==2.2.13
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-model-utils==4.0.0
django-notifications-hq==1.6.0
django-phone-field==1.8.0
django-phonenumber-field==4.0.0
django-webpush==0.3.2
djangorestframework==3.11.0
http-ece==1.1.0
idna==2.8
jsonfield==3.1.0
new-package==0.0.1
oauthlib==3.0.1
pep8==1.7.1
Pillow==7.1.2
py-vapid==1.7.0
pycodestyle==2.5.0
pycparser==2.20
python-decouple==3.3
python3-openid==3.1.0
pytz==2018.5
pywebpush==1.9.4
requests==2.21.0
requests-oauthlib==1.2.0
six==1.14.0
sqlparse==0.2.4
stripe==2.27.0
swapper==1.1.2.post1
urllib3==1.24.2
dj-database-url==0.5.0
django-auto-prefetch==0.0.6
django-debug-toolbar==2.2
django-storages==1.10
dropbox==10.4.1
psycopg2-binary==2.8.4
psycopg2==2.8.6
whitenoise==5.1.0