{% extends "base.html" %}
{% block head_title %}Add Voucher {{block.super}}{%endblock%}
{% load crispy_forms_tags %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}

    <main >
    <div class="container wow fadeIn mt-5">
        <div class="row">
          <div class="col-md-4 mb-4">
            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Load Voucher</span>
              <span class="badge badge-secondary badge-pill">{{ length }}</span>
            </h4>        
            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1">

              <li class="list-group-item d-flex justify-content-between">
                <span>Available Balance (ZAR)</span>
                <strong>R{{ voucher_account.amount }}</strong>
              </li>
                <form method="POST" class="form-inline text-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-primary btn-sm" type="submit">Submit</button>
                </form>
            </ul>
            <!-- Cart -->
        
        
            {% comment %} <!-- Promo code -->
            {% if DISPLAY_COUPON_FORM %}
            <form method="POST" action="{% url 'core:add-coupon'%}" class="card p-2">
                {%csrf_token%}
            <div class="input-group">
        
                <!-- <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
                {{ couponform.code }}
                <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
                </div>
            </div>
            </form>
            {% endif %}
            <!-- Promo code --> {% endcomment %}
        
          </div>

          <div class="col-md-8 mb-4">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Ref Code</th>
                        <th scope="col">Date</th>
                        <th scope="col">Being Delivered</th>
                        <th scope="col">Delivered</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in order %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td style="font-size:1rem; font-weight:400;">{{ order_item.user.username }}</td>
                        <td style="font-size:1rem; font-weight:400;">
                            {% if order_item.delivery_option == 'RD' %}
                                {{order_item.shipping_address.student_number}}
                            {% elif order_item.delivery_option == 'PU' %}
                                {{ order_item.student_number}}
                            {% endif %}
                        </td>
                        <td style="font-size:1rem; font-weight:400;">
                            <a href="{% url 'core:order-detail' order_item.ref_code %}" style="text-decoration: underline; color:blue;" >{{ order_item.ref_code }}</a>
                        </td>
                        <td style="font-size:1rem; font-weight:400;">
                            {{ order_item.start_date }}                
                        </td>
                        <td  style="font-size:1rem; font-weight:400;"> 
                            {%if order_item.being_delivered%}
                            <i class="fas fa-check"></i>
                            {%else%}
                            <i class="far fa-window-close"></i>
                            {%endif%}
                        </td>

                        <td  style="font-size:1rem; font-weight:400;"> 
                            {%if order_item.received%}
                            <i class="fas fa-check"></i>
                            {%else%}
                            <i class="far fa-window-close"></i>
                            {%endif%}
                        </td>
                            
                        <td style="font-size:1rem; font-weight:400;">
                            R{{order_item.get_total}}
                        </td>            
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='8' style="font-size:1rem; font-weight:400;">No Orders Have Been Made By {{username}}</td>
                    </tr>

                    {% endfor %}
                    {% comment %} {% if object.coupon %}
                    <tr>
                        <td colspan="4"><b>Coupon</b></td>
                        <td><b>-R{{ object.coupon.amount }}</b></td>
                    </tr>
                    {% endif %} {% endcomment %}
                    {% comment %} <tr>
                        <td colspan="8">
                        <a class='btn btn-outline-primary float-right' href='/'>Continue shopping</a>
                        </td>
                    </tr>  {% endcomment %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}

