{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Orders {{block.super}}{%endblock%}
{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Orders Made</h2>
    <form class="form-inline" METHOD ="POST">
        {% csrf_token %}
        {{ form|crispy }}
        {% comment %} <input class="form-control mr-sm-1 " type="search" placeholder="Search Order By ID Number" aria-label="Search" name="q" required> {% endcomment %}
        <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search fa-1x"></i></button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">ID Number</th>
            <th scope="col">Ref Code</th>
            <th scope="col">Date</th>
            <th scope="col">Being Delivered</th>
            <th scope="col">Delivered</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td style="font-size:1rem; font-weight:400;">{{ order_item.user.username }}</td>
            <td style="font-size:1rem; font-weight:400;">
                {% if order_item.delivery_option == 'RD' %}
                    {{order_item.shipping_address.student_number}}
                {% elif order_item.delivery_option == 'PU' %}
                    {{ order_item.student_number}}
                {% endif %}
            </td>
            <td style="font-size:1rem; font-weight:400;">
                <a href="{% url 'core:order-detail' order_item.ref_code %}" style="text-decoration: underline; color:blue;" >{{ order_item.ref_code }}</a>
            </td>
            <td style="font-size:1rem; font-weight:400;">
                {{ order_item.start_date }}                
            </td>
            <td  style="font-size:1rem; font-weight:400;"> 
                {%if order_item.being_delivered%}
                <i class="fas fa-check"></i>
                {%else%}
                <i class="far fa-window-close"></i>
                {%endif%}
            </td>

            <td  style="font-size:1rem; font-weight:400;"> 
                {% comment %} {{order_item.received}} {% endcomment %}
                {%if order_item.received%}
                <i class="fas fa-check"></i>
                {%else%}
                <i class="far fa-window-close"></i>
                {%endif%}
            </td>
                
            <td style="font-size:1rem; font-weight:400;">
                R{{order_item.get_total}}
            {% comment %} {% if order_item.item.discount_price %}
                R{{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saved R{{ order_item.get_amount_saved }}</span>
            {% else %}
                R{{ order_item.get_total_item_price }}
            {% endif %}  {% endcomment %}
            </td>            
        </tr>
        {% empty %}
        <tr>
            <td colspan='8' style="font-size:1rem; font-weight:400;">No Orders Have Been Made</td>
        </tr>

        {% endfor %}
        {% comment %} {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-R{{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %} {% endcomment %}
        {% comment %} <tr>
            <td colspan="8">
            <a class='btn btn-outline-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>  {% endcomment %}
        </tbody>
    </table>

        <hr>
    </div>

    </div>
  </main>

{% endblock content %}


